body{
    background: #d6d6d6;
}

.container p{
    clear: both;
    padding: 10px;
    align-content: center;

}

.imagem {
    width: 750px;
}
.card{
    font-family: 'opensans-regular', Arial, sans-serif;
    background-color: #F5F5DC;
    border: 1px solid rgb(25, 0, 83);
    color: #333;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    margin: 10px;
}
.paragrafo{
    text-align: justify;
}